<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--<suite name="iqOption" parallel="tests" thread-count="2">-->
<suite name="iqOption">

    <test name="Register Rest">
        <packages>
            <package name="com.iqOption.services.rest.register"/>
        </packages>
    </test>
    <test name="Login Rest">
        <packages>
            <package name="com.iqOption.services.rest.login"/>
        </packages>
    </test>
    <test name="Authorization websocket">
        <packages>
            <package name="com.iqOption.services.websocket.authorization"/>
        </packages>
    </test>

</suite>